---
- hosts: linux_servers
  become: true
  become_method: sudo
  become_user: root
  become_flags: '-H'

  vars:
    ansible_remote_tmp: /tmp/.ansible

  environment:
    ANSIBLE_REMOTE_TEMP: /tmp/.ansible
    ANSIBLE_HOST_KEY_CHECKING: "False"

  tasks:
    - name: Backup ossec.conf
      copy:
        src: /var/ossec/etc/ossec.conf
        dest: /var/ossec/etc/ossec.conf.bak
        remote_src: yes

    - name: Add ClamAV localfile to ossec.conf
      blockinfile:
        path: /var/ossec/etc/ossec.conf
        insertbefore: "</ossec_config>"  # ← CHANGÉ !
        marker: '<!-- {mark} ANSIBLE CLAMAV LOG -->'
        block: |
          <localfile>
            <log_format>syslog</log_format>
            <location>/var/log/clamav/clamav.log</location>
          </localfile>

    - name: Restart wazuh-agent
      systemd:
        name: wazuh-agent
        state: restarted
        enabled: yes
